<!DOCTYPE html>
<html>
  <head>
    <title><%= title = "Jokenpô" %></title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <div class="galery"></div>
    <script src="/src/model/arenaController.js"></script>
    <script src="/src/model/cardController.js"></script>
    <script src="/src/index.js"></script>
  
  </body>
</html>
